*,
*::before,
*::after {
    box-sizing: border-box;
} 

body{
    background-color: #FFF;
    font-family: Inter, sans-serif;
    color: #434B53;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img{
    display: block;
}

address{
    font-style: normal;
}
.container{
    width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
}
/* header */
.header{
    border-bottom: 1px solid  #5F0A61;
}
.header-logo{
color: #5F0A61;
font-family: Reem Kufi;
font-size: 25px;
line-height: 1.5; 
text-transform: uppercase;
margin-right: 145px;
}
.header-nav-link{
color: #2E363E;
font-size: 18px;
font-weight: 500;
line-height: 1.5;
padding: 55px 0;
display: block;
}

.header-nav-link:hover,
.header-nav-link:focus{
    color: #5F0A61;  
}
.header-tel-link{
color: #5F0A61;
font-size: 18px;
font-weight: 700;
line-height: 1.52; 
}
.header-nav{
    display: flex;
    margin-right: auto;
    align-items: center;

}

.header-nav-list{
    display: flex;
    gap:40px;
}

.header-container {
    display: flex;
    align-items: center;
}